<div [style.height]="isThereFacetActive()?'680px':'660px'" class="container">
    <div class="header">
        <input [(ngModel)]="searchStr" (keyup)=search() autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" name="searchStr" class="search-input" placeholder="Search for Restaurants by Name, Cuisine, Location"/>
    </div>
    <div class="main">
        <div class="left">
            <div #facetCuisineLoadingOverlay class="loading-overlay">
                <div class="lds-ring active"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="facets-container">
                <div class="facet-cuisine">
                    <div class="facet-cuisine-title">
                        <b class="large-text">Cuisine/Food type</b>
                    </div>
                    <div class="facet-cuisine-content">
                        <div #facetCuisineContent class="facet-content">
                            <div #refEl class="facet-item enable" *ngFor="let facet of objectKeys(facetCuisine.facetCuisineToDisplay)" (click)="refine(refEl,'info.food_type',facet)">
                                <div class="facet-item-name">{{facet}}</div>
                                <div class="facet-item-numhits">{{facetCuisine.facetCuisineToDisplay[facet]}}</div>
                            </div>
                            <div class="facet-item enable see-more-facet" *ngIf="facetCuisine.showMore" (click)="facetCuisine.showMoreFacet()">
                                <div class="facet-item-name" title="Click to see more facet"><b>More ...</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facet-rating">
                    <div class="facet-title">
                        <b class="large-text">Rating</b>
                    </div>
                    <div #facetRatingContent class="facet-content">
                        <div #refEl (click)="refine(refEl,'info.stars_group',key)" [ngClass]="(facetRating.facetRatingToDisplay[key]>0)?['facet-item','enable']:['facet-item','disable','zero-hits']" *ngFor="let key of objectKeys(facetRating.facetRatingToDisplay); let k = index">
                                <div class="facet-item-name stars-group">
                                        <div class="stars-icon-facet" *ngFor="let i of Arr(Math.round(k+1)).fill(1)">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="stars-icon-facet" *ngFor="let i of Arr(Math.round(5-k-1)).fill(1)">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                    <!-- <div *ngFor="let i of Arr(k+1).fill(1)" class="stars-icon">
                                        <img style="max-width:100%;max-height:100%" src="/assets/graphics/stars-plain.png"/>
                                    </div>
                                    <div *ngFor="let i of Arr(5-k-1).fill(1)" class="stars-icon">
                                            <img style="max-width:100%;max-height:100%" src="/assets/graphics/star-empty.png"/>
                                    </div> -->
                                </div>
                                <div class="facet-item-numhits">{{facetRating.facetRatingToDisplay[key]}}</div>
                        </div>
                   </div>
                </div>
                <div class="facet-payment">
                    <div class="facet-title">
                        <b class="large-text">Payment Options</b>
                    </div>
                    <div #facetPaymentContent class="facet-content">
                            <div #refEl (click)="refine(refEl,'payment_options',key)" [ngClass]="(facetPayment.facetPaymentToDisplay[key]>0)?['facet-item','enable']:['facet-item','disable']" *ngFor="let key of objectKeys(facetPayment.facetPaymentToDisplay); let k = index">
                                <div class="facet-item-name">{{key}}</div>
                                <div class="facet-item-numhits">{{facetPayment.facetPaymentToDisplay[key]}}</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div id="results">
                <div class="display-results">
                    <div class="search-stats">
                        <div class="search-stats-text">
                            <b class="large-text">{{result.numHits}} results found</b> in {{result.processingTime}}  seconds
                        </div>
                        <div class="search-stats-line"></div>
                    </div>
                    <div class="tags-container" *ngIf="isThereFacetActive()">
                        <div *ngFor="let facet of facetList">
                            <div class="tags-item" *ngIf="facet.isFacetActive()">
                                <div class="tags-name">{{facet.getFacetCommonName()}}: {{facet.getActiveFacet()}}</div>
                                <button type="button" class="tag-delete-button" (click)="refine(facet.getElRef(),facet.getFacetType(),facet.getActiveFacet())">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="tags-clear-all" (click)="clearAllFilter()">Clear all</div>
                    </div>
                    <div [style.margin-top]="isThereFacetActive()?'0px':'25px'" #resultLists class="result-lists">
                        <div class="restaurant-hit-container" *ngFor="let restaurant of result.restaurantHits" appHitTimelinePreloader [imgURL]=restaurant.image_url>
                            <div class="restaurant-hit">
                                <div class="thumbnail-container" appImageLoader [imgURL]=restaurant.image_url>
                                    <img class="thumbnail" style="max-width:100%;max-height:100%" src="{{restaurant.image_url}}"/>
                                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                                </div>
                                <div class="restaurant-info">
                                    <div class="restaurant-name">
                                        <b>{{restaurant.name}}</b>
                                    </div>
                                    <div class="restaurant-review">
                                        <div class="stars-count">
                                            {{restaurant.info.stars_count}}
                                        </div>
                                        <div class="stars-icon" *ngFor="let i of Arr(Math.round(restaurant.info.stars_count
                                        )).fill(1)">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <div class="stars-icon" *ngFor="let i of Arr(5 - Math.round(restaurant.info.stars_count
                                        )).fill(1)">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <!-- <div *ngFor="let i of Arr(Math.round(restaurant.info.stars_count
                                        )).fill(1)" class="stars-icon">
                                            <img style="max-width:100%;max-height:100%" src="/assets/graphics/stars-plain.png"/>
                                        </div>
                                        <div *ngFor="let i of Arr(5 - Math.round(restaurant.info.stars_count
                                        )).fill(1)" class="stars-icon">
                                            <img style="max-width:100%;max-height:100%" src="/assets/graphics/star-empty.png"/>
                                        </div> -->
                                        <div class="reviews-count">
                                            ({{restaurant.info.reviews_count}} reviews)
                                        </div>
                                    </div>
                                    <div class="restaurant-divers">{{restaurant.info.food_type}} | {{restaurant.area}} | {{restaurant.info.price_range}}</div>
                                </div>
                            </div>
                            <app-timeline-preloader></app-timeline-preloader>
                        </div>
                        <div class="show-more" [ngStyle]="result.showLoadMoreButton?{'margin-top':'20px','display':'flex','justify-content':'center'}:{'display':'none'}">
                            <div class="show-more-btn" title="Click to see more results" (click)="loadMoreResults()">Show more</div>
                        </div>
                    </div>
                    <div #noResultFound class="no-result-found">
                        Sorry, we couldn't any restaurant for "{{this.searchStr}}"", please modify your search or try some suggestions: 
                        <ul>
                            <li class="suggestion" (click)="suggestionSearch('Sushi')">Sushi</li>
                            <li class="suggestion" (click)="suggestionSearch('Steak')">Steak</li>
                            <li class="suggestion" (click)="suggestionSearch('French')">French</li>
                          </ul> 
                    </div>
                    <div #toTopButton id="toTopButton" (click)="scrollToTop()"></div>
                </div>
            </div>
        </div>
    </div>
</div>
